<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!--Main Content-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
  </div>
</main>
<div class="float-start"></div>
<figure class="figure">
  <img src="/Assets/images/profilepic.jpg" class="figure-img img-fluid rounded" alt="" width="200" height="400">
  <figcaption class="figure-caption">Kathryn Robertson</figcaption>
</figure>
<h2>Hi! My name is Kathryn Robertson</h2>
</div>


<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>