<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!--Main Content-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
  </div>
</main>

<div class="container">
<p class="text-left"><img style="float: left; margin: 0px 15px 15px 0px;" src="/Assets/images/profilepic.jpg" class="rounded float-start" alt="" width="200" height="300" />
<h2>Hi! My name is Kathryn Robertson!</h2> I currently live in Hamilton, Ontario, Canada. I graduated from Ryerson University in 
Spring 2020 with a Bachelor of Engineering degree in Aerospace Engineering specializing in Avonics. I have been working at Edge Imaging 
for just over a year doing data entry and pre-production. I have started attending Centennial College in the fast-track Game Programming program.
My goal is to enter the Game Development industry as a programmer.
<br>I currently own two horses and live on our family farm where we raise cows & chickens. When I'm not playing video games or working, 
I'm horseback riding or chasing after loose cows! 
<br style="clear:both" />
</p>
</div>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>