<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!--Main Content-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
  </div>
</main>

<div class="paragraphs">
  <div class="row">
    <div class="span4">
<figure class="figure">
  <img style="float:left" src="/Assets/images/profilepic.jpg" class="figure-img img-fluid rounded" alt="" width="200" height="400">
  <figcaption class="figure-caption">Kathryn Robertson</figcaption>
</figure>
    </div>
  </div>
</div>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>