<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!--block title-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
  </div>
</main>
<!--Content-->
<div class="container">
        <h1>How to contact me!</h1>
        <br>Kathryn Robertson
        <br>kathryn.robertson3@gmail.com
        <br>Hamilton, Ontario, Canada  
        <br>
        &nbsp;
    </div>

</div>

<div class="container">
<form>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Subject</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>  
    </div>
    <a href="/home" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Submit</a>
</form>
</div>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>