<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!--Main Content-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
  </div>
</main>

<!--content-->

<div class="container">
<h1>Welcome to my website! I'm Kathryn!</h1>
<br>This website is my portfolio to showcase who I am, what projects I have done in the past and my current services. My goal
with this website is to show all about who I am and my experience for future jobs! 
</div>

<!--Sub menu-->
<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="/Assets/images/Logo2.png" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">About Me</h5>
        <p class="card-text">Learn all about me, where I'm from, what degrees I have and to see my resume!</p>
        <a href="/about" class="btn btn-primary">About Me</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/Assets/images/projectspic.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Projects</h5>
        <p class="card-text">To learn about my past and current projects click the link below!</p>
        <a href="/projects" class="btn btn-primary">Projects</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/Assets/images/servicespic.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Services</h5>
        <p class="card-text">Check out my services page to see what I am currently offering!</p>
        <a href="/services" class="btn btn-primary">Services</a>
      </div>
    </div>
  </div>
</div>
</div>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>