<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!--Main Content-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
  </div>
</main>

<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="/Assets/images/Logo2.png" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">About Me</h5>
        <p class="card-text">Learn all about me, where I'm from, what degrees I have and to see my resume!</p>
        <a href="/about" class="btn btn-primary">About Me</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Projects</h5>
        <p class="card-text">To learn about my past and current projects click the link below!</p>
        <a href="/projects" class="btn btn-primary">Projects</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Services</h5>
        <p class="card-text">Check out my services page to see what I am currently offering!</p>
        <a href="/services" class="btn btn-primary">Services</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Contact</h5>
        <p class="card-text">Interested in contacting me? This is the place to do it!</p>
        <a href="/contact" class="btn btn-primary">Contact Me</a>
      </div>
    </div>
  </div>
</div>
</div>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>