<%- include partials/header.ejs %>


<%- include partials/main_nav.ejs %>

<!--Main Content-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
  </div>
</main>
  <img src="C:\Users\acorn\Documents\Centennial College\Comp 229\Assignment1\public\Assets\images\Logo1.png"> 
<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>