<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!--Main Content-->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %> page</h1>
  </div>
</main>

<div class="container">
    <h1>Previous Projects</h1>
    <p class="text-left"><img style="float: left; margin: 0px 15px 15px 0px;" src="/Assets/images/project1.PNG" class="rounded float-start" alt="" width="500" height="550" />
        <h2>Thistle Brae Farm Website</h2> One of my very first web development projects was the development of my family's farm website. 
        We raise Highland cattle and sell beef. The website went through many interations landing on this final design. Since I was still in
        the early stages of learning web development, this site used a template which I edited it to suit our goals of the website. 
        <br>
        <br> You can view the website <a href="http://thistlebraefarm.com/" target="_blank">here</a>
        <br style="clear:both" />
    </p>
</div>
<div class="container">
        <p class="text-right"><img style="float: right; margin: 0px 15px 15px 0px;" src="/Assets/images/project2.PNG" class="rounded float-start" alt="" width="500" height="500" />
            <h2>Westover Pony Club Website</h2> A second project I did was revamping the Westover Pony Club website. I was a member
            of the Westover Pony Club for 16 years and am currently a volunteer. I helped the previous webmaster and in early 2011
            revamped the old website to bring it up to new standards. Two years ago, I completely redid the website to add mobile support. 
            I use templates and Rapidweaver to create the final verison. 
            <br>
            <br> You can view the website <a href="http://westover.ponyclub.ca/" target="_blank">here</a>
            <br style="clear:both" />
        </p>
</div>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>